{{ $ := .root }}
{{ $page := .page }}
{{ $section := .page }}
{{ $data := site.Params }}
{{ $st := .page }}
{{ $autolink := default true $st.Params.content.autolink }}

<div class="section-heading col-12 mb-3 text-center">
  {{ with $st.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
</div>

<div class="mb-3">
  {{ with $page.Title }}
  <form name="subscribe" method="POST" data-netlify="true">
    <div class="form-group form-inline">
      <label class="sr-only" for="inputEmail">{{ i18n "contact_email" }}</label>
      <input type="email" name="email" class="form-control w-100" id="inputEmail" placeholder="{{ i18n "contact_email" | default "Email" }}" required>
    </div>
    <button type="submit" class="btn btn-outline-primary px-3 py-2">Subscribe</button>
    </p>
  </form>
</div>
